.page {
  width: 100vw;
}

.header {
  width: 100vw;
  background-color: #9564aa;
}

.header__content {
  padding: 6px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.container__burger {
}
.content__burger {
}
.burgerMenu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 23px;
  height: 14px;
  cursor: pointer;
}
.burgerMenu__line {
  width: 100%;
  height: 2px;
  background-color: #fff;
  transition: all 0.3s ease;
}
.menu {
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  background-color: #f9f9f9;
  width: 100%;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.menu__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.menu__item {
  margin: 10px 0;
}
.link {
  color: #9564aa;
  font-size: 18px;
}
.container__logo {
}
.content__logo {
}
.logo {
  /* filter: drop-shadow(0 0 1px #ffcf2d); */
}

.main {
}
.container__title {
  width: 100vw;
  border-bottom: solid rgba(149, 100, 170, 0.2);
  margin: 15px 20px 23px 20px;
  padding: 0px 0px 10px 0px;
}
.content__title {
}

.title {
  font-weight: 700;
  font-size: 20px;
}

.container__offers {
  margin: 0 30px;
}
.content__offers {
}

.card__offers {
  position: relative;
  display: flex;
  flex-direction: row;
  background-color: #9564aa;
  border-radius: 10px;
  padding: 15px 30px;
}
.offer__container {
  justify-content: center;
  align-items: center;
  background-color: #ffcf2d;
  padding: 4px 10px;
  border-radius: 5px;
}
.offer__text {
  font-weight: 700;
  font-size: 14px;
}
.card__text {
  color: #fff;
}
.card__credit {
  background-color: #ffcf2d;
  color: #000;
  border-radius: 99px;
  font-weight: 700;
  font-size: 8px;
  padding: 4px;
}
.btn__offers {
  background-color: #ffcf2d; /* Цвет фона */
  color: #000; /* Цвет текста */
  font-weight: 700;
  font-size: 16px;
  border: none;
  padding: 20px 10px; /* Отступы внутри кнопки */
  border-radius: 10px; /* Скругление углов */
  cursor: pointer; /* Курсор в виде указателя */
  transition: background-color 0.3s ease; /* Плавное изменение цвета */
}
.checkbox__content {
}
.container__premium {
}
.btns__container {
}
.btn__content {
}
.btn {
}
.btn__label {
}
.icon {
}

/* Медиазапрос для планшетов */
@media (min-width: 768px) {
}

/* Медиазапрос для десктопов */
@media (min-width: 1024px) {
}
